body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: rgb(25, 25, 87);
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1300px;
  margin: auto;
}

.box {
  border-radius: 5px;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.book:hover {
  cursor: pointer;
}

.containerDiv {
  height: 75vh;
  width: 75vw;
  max-width: 900px;
  border: 2px solid darkslategray;
  background-color: ghostwhite;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header header"
    "descriptionImg description";
}

#header {
  grid-area: header;
  background-color: rgb(25, 25, 87);
  color: ghostwhite;
  border: 2px solid darkslategray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#imageContainer {
  grid-area: descriptionImg;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 1rem;
  width: 100%;
  height: 100%;
}

#description {
  grid-area: description;
  padding: 1rem;
  margin-top: 1rem;
}

textarea {
  background-color: ghostwhite;
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 58vh;
  border: none;
}

.lightboxHeader {
  text-align: center;
  font-size: 25px;
  padding: 1rem 0 1rem 0;
}

.descriptionImg {
  height: auto;
  max-height: 60vh;
  width: 100%;
  max-width: 390px;
  border: 2px solid darkslategray;
  border-radius: 5px;
}

.img1 {
  background-image: url("./images/html_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100vw;
}
.img2 {
  background-image: url("./images/computerOnDesk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100vw;
}
.img3 {
  background-image: url("./images/wordcloud1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100vw;
}

.carousel-title {
  text-shadow: 2px 2px #000000;
}

.carousel-paragraph {
  text-shadow: 1px 1px #000000;
}

header {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  z-index: 100;
  opacity: 0.96;
}

.headerTitles {
  color: white;
}

a.anchor {
  display: block;
  position: relative;
  top: -5rem;
  visibility: hidden;
}

#nameSpan {
  line-height: 5rem;
  vertical-align: middle;
  font-size: 30px;
  color: white;
  padding-left: 1.5rem;
}

#aboutMe {
  margin-top: 3rem;
}

.footerSpan {
  height: 50px;
  padding-top: 13px;
}

.header-container {
  height: 100%;
}

.tabs_container {
  min-height: 40rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(24, 58, 16);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(24, 58, 16);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  text-align: center;
}

.border-light {
  border: 2pt solid ghostwhite;
}

.border-dark {
  border: 2pt solid black;
}

.text-light {
  color: ghostwhite;
}

.text-dark {
  color: black;
}

.background-light {
  background-color: white;
}

.background-dark {
  background-color: rgb(25, 25, 87);
}

.inputs {
  width: 6rem;
}

#contact-btn {
  position: absolute;
  right: 24px;
  top: 1.3rem;
}

.cover {
  height: 20rem;
  width: auto;
  border: 2px solid darkslategray;
}

.pics {
  padding: 2rem 0;
}

.card {
  border: 2px solid darkslategray;
}

.projectPics {
  height: auto;
  width: 90%;
  border: 2px solid darkslategray;
}

.cols {
  margin-top: 4rem;
  padding: 0 !important;
}

.topImgs {
  height: 85%;
  width: auto;
  max-height: 325px;
}

.about-me img {
  margin: auto;
  display: block;
}

#dropdownLinks {
  position: absolute;
  top: 1.3rem;
  right: 9.5rem;
}

#packersImage {
  border: 2pt solid darkslategray;
}

#spacer {
  height: 5rem;
}

@media only screen and (max-width: 578px) {
  #aboutMe {
    margin-top: 8rem;
  }

  main {
    padding: 0;
    width: 100%;
  }

  #nameSpan {
    width: 100vw;
    margin: auto;
    text-align: center;
    font-size: 35px;
    height: 4rem;
    max-width: 100vw;
    overflow-x: hidden;
  }

  #dropdownLinks {
    display: none;
  }

  #contact-btn {
    position: relative;
    width: calc(100vw - 48px);
    margin: auto;
    margin-left: 48px;
  }

  #spacer {
    height: 2rem;
  }

  .border-dark {
    border: none !important;
  }

  /* html{
    width: 100vw;
  }

  header {
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    z-index: 100;
    opacity: .96;
  }

  .header-container {
    height: 8rem;
  } */

  .header-row {
    background-color: #343a40;
    height: 4rem;
  }

  .projectPics {
    width: 100%;
  }

  .footerSpan {
    height: 70px;
  }

  .headerTitles {
    text-align: center;
  }

  .topImgs {
    max-width: 95%;
    height: auto;
  }

  #carouselExampleIndicators {
    display: none;
  }

  #description {
    padding: 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 579px) {
  #nameSpan {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .cover {
    width: 75%;
    height: auto;
  }

  #secondDiv {
    padding-top: 2rem;
  }

  #packersImage {
    margin-top: 1rem;
  }

  #uwecLogo {
    margin-top: 1rem;
  }

  .linkBtn {
    margin: 0 10px 10px 0;
  }

  #contact-btn {
    max-width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  .containerDiv {
    height: 80vh;
    width: 90vw;
    max-width: 900px;
    border: 2px solid darkslategray;
    background-color: ghostwhite;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 45% 40%;
    grid-template-areas:
      "header"
      "descriptionImg"
      "description";
  }
  #imageContainer {
    grid-area: descriptionImg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
    width: 100%;
    height: 100%;
  }

  #description {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-top: 1rem;
  }

  textarea {
    background-color: ghostwhite;
    overflow: auto;
    width: 100%;
    height: 100%;
    max-height: 58vh;
    border: none;
  }

  .lightboxHeader {
    font-size: 25px;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .descriptionImg {
    height: 100%;
    width: auto;
    max-width: 90%;
    border: 2px solid darkslategray;
    border-radius: 5px;
  }

  /* #nameSpan {
    padding-left: 10px;
  } */
}
