* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(-45deg, hsl(207, 96%, 68%), #4048be, #10793c, #075744);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  overflow-y: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#statAudio {
  position: absolute;
  top: 85%;
}

.indexBody {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  margin: 0;
}

.landingBody {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.statsBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.container {
  position: absolute;
  top: 10rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 700px;
  max-width: 90%;
  height: auto;
}

.timer {
  position: absolute;
  top: 2rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  background-color: transparent;
  border: 2px solid lightgrey;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.quote-input:focus {
  border-color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.statsArea {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 1rem;
  height: 2rem;
  line-height: 2rem;
}

.hidden {
  visibility: hidden;
}

.invisible {
  display: none;
}

.nextBtn {
  background-color: white;
  color: blue;
  font-size: 18px;
  border: 2px solid blue;
  border-radius: 3px;
  /* padding: 5px 20px 5px 20px; */
  padding: 0px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nextBtn:hover {
  background-color: blue;
  color: white;
}

.wide {
  width: 80vw;
  display: block;
  margin: auto;
}

.quoteChooserContainer {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 5rem;
  margin: 1rem 0 1rem 0;
  align-self: center;
  padding: 5px 20px 5px 20px;
  min-width: 10rem;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  border: 2px solid teal;
  background-color: white;
  color: teal;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: teal;
  color: white;
}

.startBtn {
  width: 10rem;
  color: white;
  background-color: lightgreen;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin: 1rem 0 1rem 0;
}

.startLink {
  width: 10rem;
  margin: auto;
}

.startBtn:hover {
  color: black;
}

.header {
  color: white;
  font-size: 55px;
  margin-top: 2em;
}

.quoteBanner {
  color: white;
  margin-top: 4rem;
  font-size: 25px;
}

.stats {
  width: 10rem;
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
  font-size: 18px;
  margin: 5rem 0 1rem 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#view-stats {
  color: rgb(46, 204, 46);
  border: 2px solid rgb(46, 204, 46);
}

#view-stats:hover {
  color: white;
  background-color: rgb(46, 204, 46);
}

#clear-stats {
  color: rgb(221, 177, 31);
  border: 2px solid rgb(221, 177, 31);
  margin-left: 2rem;
}

#clear-stats:hover {
  color: white;
  background-color: rgb(221, 177, 31);
}

#homeLink {
  margin-left: 2rem;
  color: rgb(167, 16, 16);
  border: 2px solid rgb(167, 16, 16);
}

#homeLink:hover {
  color: white;
  background-color: rgb(167, 16, 16);
}

.scoreDiv {
  font-size: 20px;
  padding: 0;
}

.scoreContainer {
  max-width: 20rem;
  align-self: center;
}

.highscoreBanner {
  font-size: 25px;
  font-weight: bold;
  /* margin-top: 3rem; */
}

.userScoreDiv {
  font-size: 20px;
  margin-top: 1em;
}

.spacerDiv {
  margin-bottom: 2rem;
}

.homeButton {
  position: absolute;
  top: 55%;
  border-radius: 3px;
  border: 2px solid rgb(252, 168, 12);
  background-color: white;
  color: rgb(252, 168, 12);
  font-size: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  cursor: pointer;
  width: 10rem;
  transition: all 0.3s ease-in-out;
}

.homeButton:hover {
  color: white;
  background-color: rgb(252, 168, 12);
